
   table.hourstable {
      border: 0px;
      padding: 5px;
      margin: 5px;
      width: 45%;
   }
   tbody.hourscontent {
      display: block;
      height: 460px;
      overflow: auto;
      overflow-x: hidden;
   }
   h2.hours { 
   //   text-align: center;
   }
   table.hourstable td {
      margin: 10px 10px;
      padding: 5px;
      width: 30%;
      border: 1px dashed;
   }
   table.hourstable td.open {
	   background-image: url('images/library_open.png');
      background-repeat: no-repeat;
      background-position: right;
   }
   table.hourstable td.closed {
      background-image: url('images/library_closed.png'); 
      background-repeat: no-repeat;
      background-position: right;

   }
   table.hourstable td.open:hover {
      background-color: #A3FF85;
      color: black;
   }
   table.hourstable td.closed:hover {
      background-color: #FFCCCC;
      color: black;
   }
   #outerdiv {

   }
   #campusmap {
      width: 730px;
      height: 600px;  

   }
   #details {
      width: 380px;
      height: 490px;
      position: absolute;
      top: 350px;
      left: 50%;
   }
   .detail_display {
      overflow: scroll;
      overflow-x: hidden;
   }
   .today {
      font-size: smaller;
      font-weight: bold;
      text-transform: uppercase;
   }
   .hoursprompt {
      position: absolute; 
      top: 40%;
      font-size: x-large;
      text-align: center;
    }